@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-sans: ui-rounded, system-ui, ui-sans-serif, sans-serif;
        --font-mono: ui-monospace, monospace;

        --brand: oklch(58% 0.22 270);

        --text: oklch(24% 0 0);
        --text-soft: oklch(30% 0 0);
        --text-light: oklch(45% 0 0);
        --text-brand: oklch(56% 0.22 270);


        --surface: oklch(97% 0 0);
        --surface-light: oklch(95% 0 0);

        --border: oklch(90% 0 0);

        color-scheme: light dark;
        color: var(--text);
        background-color: var(--surface);
        text-rendering: optimizelegibility;
        font-smooth: always;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: subpixel-antialiased;
        font-synthesis: weight style small-caps;
        transition: color 100ms, background-color 100ms, border-color 100ms, box-shadow 100ms;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --brand: oklch(56% 0.2 270);

            --text: oklch(92% 0 0);
            --text-soft: oklch(98% 0 0);
            --text-light: oklch(65% 0 0);
            --text-brand: oklch(58% 0.2 270);

            --surface: oklch(22% 0 0);
            --surface-light: oklch(20% 0 0);

            --border: oklch(28% 0 0);
        }
    }

    ::selection {
        color: white;
        background-color: var(--brand);
    }
}
